.listItem {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    flex: auto;
    justify-items: center;
    text-align: center
}

.listItem img {
    max-height: 300px;
    max-width: 300px;

}