.listItem {
    height: 300px;
    width: 300px;
    flex: auto;
    justify-items: center;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.listItem img {
    max-width: 300px;
    min-width: 300px;
    max-height: 300px;
    min-height: 300px;
    border: 1px solid black;

}

